<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
  Agregar jugador
</button>
<input type="text"
  class="mt-5 ml-2 shadow appearance-none border rounded w-50 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
  placeholder="Username">
<table class="table-auto mt-5">
  <thead>
    <tr>
      <th class="px-4 py-2">#</th>
      <th class="px-4 py-2">Nombre</th>
      <th class="px-4 py-2">Decks</th>
      <th class="px-4 py-2">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="border px-4 py-2"></td>
      <td class="border px-4 py-2">Kevin</td>
      <td class="border px-4 py-2">
        <li>
          Batteryman - 50 cartas
        </li>
      </td>
      <td class="border px-4 py-2">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Editar
        </button>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-3">
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
